.wrapper {
  position: relative;
  width: 800px;
}
.wrapper .mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 999;
}
